/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #840909;
  color: rgb(255, 255, 255);
}

.logo img {
  max-height: 67px; 
}

.navigation button {
  background-color: #d6150e;
  color: white;
  border: 1px;
  border-color: white;
  margin-left: 10px; /* Adjust the spacing between buttons */
  cursor: pointer;
  padding: 15px;
}