.StripeElement {
  border: 1px solid #9f0a0a;
  padding: '1px';
}

.StripeElement--invalid {
  border: 1px solid red;
}

.button {
  background-color: #d6150e;
  color: white;
  border: 5px;
  border-color: rgb(0, 0, 0); 
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}